:root{
    --primary-color: #F99803;
    --secundary-color: #FBB035;
    --tertiary-color: #F1A323;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column; 
}
main{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
}
.header-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-up{
    display: flex;
    align-items: center;
    
}
.header-end{
    display: flex;
    align-items: center;
    gap: 60px;
}
.botaoHeader{
    display: flex;
    gap: 80px;
    margin-top: 60px;
    margin-left: 80px;
    font-size: 20px;
    color: var(--tertiary-color);
}
.home{
    color: white;
    text-decoration: underline;
}
.header-center{
    margin-top: 60px;
    margin-right: 120px;
}
.pesquisar{
    display: flex;
    gap: 70px;
    border-bottom: 2px solid white;
}
.search{
    font-size: 18px;
    margin-top: 55px;
}
.lupa{
    width: 20px;
    height: 20px;
    margin-top: 55px;
}
.login{
    display: flex;
    font-size: 18px;
    margin-top: 60px;
}
.registrar p{
    display: flex;
    margin-top: 60px;
    color: white;
    padding: 12px 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 11px;
    margin-right: 80px;
}
p{
    font-family: "Lexend Exa", sans-serif;
    color: var(--tertiary-color);
}
h1{
    font-family: "Lexend Exa", sans-serif;
}
.cenario{
    display: flex;
    z-index: -999;
    background-size: cover;
    height: 53vw;
    width: 100vw;
    position: absolute;
}
.titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 130px;
    letter-spacing: 5px;
}
.kung{
    margin-top: 20px;
}
.panda{
    margin-top: -130px;
    z-index: -998;
}
.personagens{
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -997;
    height: 53vw;
    width: 85vw;
    position: absolute;
}
.numeros{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: right;
    justify-content: flex-end;
}
.numeros p{
    transform: translateX(11000%);
    padding-top: 20px;
}
.um{
    color: white;
    border-bottom: 2px solid white;
}
.descricao{
    text-align: center;
    transform: translate(0, 480%);
}
.descricao p{
    color: white;
}
.categorias{
    display: flex;
    justify-content: center;
    transform: translateY( 160px);
}
.categorias p{
    margin-top: 60px;
    color: white;
    padding: 12px 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 11px;
    margin-right: 20px;
}
.botaoTrailer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 480%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
    background-color: var(--primary-color);
    border-radius: 15px;
    width: 270px;
    height: 65px;
}
.botaoTrailer p{
    color: white;
    font-size: 20px;
}
.blur{
    position: absolute;
    background-size: cover;
    width: 100vw;
    z-index: -990;
    margin-top: 9.1vh;
}